@import 'styles/colors.scss';

.iconButtonBase {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  // width: 36px;
  // height: 36px;
  transition: all 0.2s ease-in-out;
  background: $primary-color;

  &:hover {
    background: $primary-color-light-highlight;
  }
}
